* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: url('../public/background.png');
    background-size: cover;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#score-hud{
    position: absolute;
    top: 20px;
    left: 56px;
    color: #ffffff;
    border: 4px solid white;
    background: #1e1e1e;
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 4px 40px 4px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
}
.icon-hud{
    position: absolute;
    top: 50%;
    left: -24px;
   transform: translateY(-50%);
}
.time-hud{
    position: absolute;
    top: 20px;
    right: 56px;
    color: #ffffff;
    border: 4px solid white;
    background: #1e1e1e;
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 4px 40px 4px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
}

#game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #ffffff;
    background: rgb(30 30 30);
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}
div.game-over-heading {
    background: #b843b7;
    margin: 0;
    padding: 12px;
    border-bottom: 4px solid white;
}
#game-over-message p {
    padding: 0 24px;
}
/*Login */
.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
    border: 4px solid white;
    color: white;
}
.auth-container p {
    margin: 24px 24px 40px;
}
.auth-container h2 {
    background: #b743b7;
    margin: 0;
    padding: 12px;
}
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}
#login-form, #register-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 24px;
}
.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
}
.login-row {
    display: flex;
    flex-direction: column;
}
#replay-btn {
    background-color: #3eb73a;
    color: white;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background 0.2s;
    bottom: -24px;
}
#replay-btn:hover {
    background: #6fd06c;
}
#show-login, #show-register {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}
.highscore {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
    font-family: 'Segoe UI', sans-serif;
    background: #1e1e1e;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.highscore h2 {
    background: #b743b7;
    margin: 0;
    padding: 12px;
    text-align: center;
    border-bottom: 4px solid white;
}
#highscore-list{
    margin: 16px;
}
#highscore-list li {
    background: #f4f4f4;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 4px solid white;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
}
ul#highscore-list li:first-child {
    background: #FFC529;
    position: relative;
}
ul#highscore-list li:nth-child(2) {
    background: #C4C4C4;
}
ul#highscore-list li:nth-child(3) {
    background: #DA9D51;
}

#highscore-list li:hover {
    background: #e0f7e9;
}
.score-position {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
.score-position svg {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(2px 4px 6px black);
}


.score-user {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

.score-details {
    font-size: 0.9rem;
    color: #666;
}
.filters {
    border-radius: 8px;
    padding: 1rem;
    background: #1e1e1e;
    color: white;
    border: 4px solid white;
    margin: 8rem auto 0;
    width: fit-content;
}
.filter-items{
    display: flex;
    gap: 12px;
}
.filter-item{

}
.button-container {
    display: flex;
    align-items: flex-end;
}
#apply-filters{
    background-color: #3eb73a;
    color: white;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 12px;
}
#apply-filters:hover {
    background: #6fd06c;
}

.filters label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.filters input,
.filters select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*hub*/
.hub {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #1e1e1e;
    padding: 12px 32px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    gap: 24px;
    top: 0;
}

.hub-items{
    display: flex;
    gap: 24px;
}
.hub-item{
    background: #b743b7;
    padding: 8px 20px;
    border: 4px solid white;
    border-radius: 12px;
    transition: transform 0.2s, background 0.2s;
}
.hub-item:hover {
    background: #FFC529;
    transform: scale(1.05);
}
.hub-item__icon{
    width: 32px;
    fill: white;
}

